<div class="modal-header">
   <div class="pull-right">
     <button type="button" class="close pull-right" ng-click="$dismiss()">&times;</button>
   </div>
<div>
   <h3 class="modal-title" ng-if="!item._id">Create</h3>
   <h3 class="modal-title" ng-if="item._id">Edit</h3>
</div>
</div>
<div>
<form name="myForm" ng-submit="save()" method="POST">
   <div class="modal-body">
     <fieldset>
       <div class="row" ><div class="form-group col-md-12"><label for="ambiente" class="bold">AMBIENTE</label><input  autofocus required name="ambiente" type="text" class="form-control"  ng-model="item.ambiente" ></div></div>
       <div class="row" ><div class="form-group col-md-12"><label for="username" class="bold">USERNAME</label><input  autofocus required name="username" type="text" class="form-control"  ng-model="item.username" ></div></div>
       <div class="row" ><div class="form-group col-md-12"><label for="password" class="bold">PASSWORD</label><input  autofocus required name="password" type="text" class="form-control"  ng-model="item.password" ></div></div>
       <div class="row" ><div class="form-group col-md-12"><label for="database" class="bold">DATABASE</label><input  autofocus required name="database" type="text" class="form-control"  ng-model="item.database" ></div></div>
       <div class="row" ><div class="form-group col-md-12"><label for="host" class="bold">HOST</label><input  autofocus required name="host" type="text" class="form-control"  ng-model="item.host" ></div></div>
       <div class="row" ><div class="form-group col-md-12"><label for="dialect" class="bold">DIALECT</label><input  autofocus required name="dialect" type="text" class="form-control"  ng-model="item.dialect" ></div></div>
       <div class="row" ><div class="form-group col-md-12"><label for="estado" class="bold">ESTADO</label><input  autofocus  name="estado" type="checkbox" class="form-control"  ng-model="item.estado" ></div></div>
       
     </fieldset>
</div>
<div class="modal-footer">
   <button ng-disabled="myForm.$invalid || myForm.$pristine" class="btn btn-primary pull-right" type="submit" title="Save"><span ng-if="saving"><i class="fa fa-spinner fa fa-spin"></i>&nbsp;</span><span>Save</span></button>
</div>
</form>
</div>