<div class="modal-header">
   <div class="pull-right">
     <button type="button" class="close pull-right" ng-click="$dismiss()">&times;</button>
   </div>
<div>
   <h3 class="modal-title" >Catálogo de {{nombreOperador}}</h3>
</div>
</div>
<div>
   <div class="modal-body">
          <table  class="table table-bordered table-hover table-striped" at-table at-paginated at-list="showDetalles | filter:searchText" at-config="configTable">
                <thead></thead>
                <tbody>
                     <tr>
                       <td  at-sortable  at-title='Nombre' width='150'>{{item.Nombre}}</td>
                       <td  at-sortable  at-title='Descripción' width='150'>{{item.Descripcion}}</td>
                       <td  at-sortable  at-title='Bitmap' width='150'>{{item.Bitmap}}</td>
                       <td  at-sortable  at-title='Longitud' width='150'>{{item.Longitud}}</td>
                       <td  at-sortable  at-title='Tipo Campo' width='150'>{{item.Tipo}}</td>
                       <td  at-sortable  at-title='Tipo Valor' width='150'>{{item.TipoDato}}</td>           
                     </tr>
                </tbody>
          </table>
          <div class="col-md-6 col-md-offset-3" >
            <at-pagination at-list="showDetalles" at-config="configTable"></at-pagination>
          </div>
     
  </div>
  <div class="modal-footer">
     
  </div>
</form>
</div>