<div class="modal-header">
   <div class="pull-right">
     <button type="button" class="close pull-right" ng-click="$dismiss()">&times;</button>
   </div>
<div>
   <h3 class="modal-title" ng-if="!item._id">Create</h3>
   <h3 class="modal-title" ng-if="item._id">Edit</h3>
</div>
</div>
<div>
<form name="myForm" ng-submit="save()" method="POST">
   <div class="modal-body">
     <fieldset>
       <!--<div class="row" ><div class="form-group col-md-12"><label for="IdDetalle" class="bold">IDDETALLE</label><input  autofocus name="IdDetalle" type="number" class="form-control"  ng-model="item.IdDetalle" ></div></div>
       <div class="row" ><div class="form-group col-md-12"><label for="IdFormato" class="bold">IDFORMATO</label><input  autofocus name="IdFormato" type="number" class="form-control"  ng-model="item.IdFormato" ></div></div>-->
       <div class="row" ><div class="form-group col-md-12"><label for="TipoRegistro" class="bold">TIPOREGISTRO</label><input  autofocus name="TipoRegistro" type="text" class="form-control"  ng-model="item.TipoRegistro" ></div></div>
       <div class="row" ><div class="form-group col-md-12"><label for="NumeroCampo" class="bold">NUMEROCAMPO *</label><input ng-disabled="validarCampos" autofocus required name="NumeroCampo" type="number" class="form-control"  ng-model="item.NumeroCampo" ></div></div>
       <div class="row" ><div class="form-group col-md-12"><label for="PosicionInicio" class="bold">POSICIONINICIO</label><input  autofocus name="PosicionInicio" type="number" class="form-control"  ng-model="item.PosicionInicio" ></div></div>
       <div class="row" ><div class="form-group col-md-12"><label for="LongitudCampo" class="bold">LONGITUDCAMPO</label><input  autofocus name="LongitudCampo" type="number" class="form-control"  ng-model="item.LongitudCampo" ></div></div>
       <div class="row" ><div class="form-group col-md-12"><label for="TipoCampo" class="bold">TIPOCAMPO</label><input  autofocus name="TipoCampo" type="text" class="form-control"  ng-model="item.TipoCampo" ></div></div>
       <div class="row" ><div class="form-group col-md-12"><label for="SeparadorDecimales" class="crear">SEPARADORDECIMALES</label><input  autofocus  name="SeparadorDecimales" type="checkbox" class="form-controlCheck"  ng-model="item.SeparadorDecimales" ></div></div>
       <div class="row" ><div class="form-group col-md-12"><label for="NumeroDecimales" class="bold">NUMERODECIMALES</label><input  autofocus  name="NumeroDecimales" type="number" class="form-control"  ng-model="item.NumeroDecimales" ></div></div>
       <div class="row" ><div class="form-group col-md-12"><label for="DescripcionCampo" class="bold">DESCRIPCIONCAMPO</label><input ng-disabled="validarCampos" autofocus  name="DescripcionCampo" type="text" class="form-control"  ng-model="item.DescripcionCampo" ></div></div>
       <div class="row" ><div class="form-group col-md-12"><label for="IdCampoEquivalente" class="bold">IDCAMPOEQUIVALENTE</label><input  autofocus  name="IdCampoEquivalente" type="number" class="form-control"  ng-model="item.IdCampoEquivalente" ></div></div>
       <div class="row" ><div class="form-group col-md-12"><label for="CampoEquivalente" class="bold">CAMPOEQUIVALENTE</label><input ng-disabled="validarCampos" autofocus name="CampoEquivalente" type="text" class="form-control"  ng-model="item.CampoEquivalente" ></div></div>
       <div class="row" ><div class="form-group col-md-12"><label for="Obligatorio" class="crear">OBLIGATORIO</label><input  autofocus  name="Obligatorio" type="checkbox" class="form-controlCheck"  ng-model="item.Obligatorio" ></div></div>
       <div class="row" ><div class="form-group col-md-12"><label for="Validaciones" class="bold">VALIDACIONES</label><input  autofocus  name="Validaciones" type="text" class="form-control"  ng-model="item.Validaciones" ></div></div>
       <div class="row" ><div class="form-group col-md-12"><label for="Tipo_Registro" class="bold">TIPO REGISTRO</label><input  autofocus  name="Tipo_Registro" type="text" class="form-control"  ng-model="item.Tipo_Registro" ></div></div>
       <div class="row" ><div class="form-group col-md-12"><label for="Default_Value" class="bold">DEFAULT VALUE</label><input  autofocus  name="Default_Value" type="text" class="form-control"  ng-model="item.Default_Value" ></div></div>
       <div class="row" ><div class="form-group col-md-12"><label for="observacion" class="bold">OBSERVACION</label><input  autofocus  name="observacion" type="text" class="form-control"  ng-model="item.observacion" ></div></div>
       <div class="row" ><div class="form-group col-md-12"><label for="Rutina_Validacion" class="bold">RUTINA VALIDACION</label><input  autofocus  name="Rutina_Validacion" type="text" class="form-control"  ng-model="item.Rutina_Validacion" ></div></div>
       <div class="row" ><div class="form-group col-md-12"><label for="Rutina_Transformacion" class="bold">RUTINA TRANSFORMACION</label><input  autofocus  name="Rutina_Transformacion" type="text" class="form-control"  ng-model="item.Rutina_Transformacion" ></div></div>
       <div class="row" ><div class="form-group col-md-12"><label for="CaracterConcatenacion" class="bold">CARACTERCONCATENACION</label><input  autofocus  name="CaracterConcatenacion" type="text" class="form-control"  ng-model="item.CaracterConcatenacion" ></div></div>
       <div class="row" ><div class="form-group col-md-12"><label for="OrdenCampo" class="bold">ORDENCAMPO</label><input  autofocus name="OrdenCampo" type="text" class="form-control"  ng-model="item.OrdenCampo" ></div></div>
       <div class="row" ><div class="form-group col-md-12"><label for="Rutina_Conversion" class="bold">RUTINA CONVERSION</label><input  autofocus  name="Rutina_Conversion" type="text" class="form-control"  ng-model="item.Rutina_Conversion" ></div></div>
       <div class="row" ><div class="form-group col-md-12"><label for="ValidaEnMasivas" class="crear">VALIDAENMASIVAS</label><input  autofocus name="ValidaEnMasivas" type="checkbox" class="form-controlCheck"  ng-model="item.ValidaEnMasivas" ></div></div>
       
     </fieldset>
</div>
<div class="modal-footer">
   <button ng-disabled="myForm.$invalid || myForm.$pristine" class="btn btn-primary pull-right" type="submit" title="Save"><span ng-if="saving"><i class="fa fa-spinner fa fa-spin"></i>&nbsp;</span><span>Save</span></button>
</div>
</form>
</div>