#scrollTabla {
     overflow:scroll;
     height: auto;
     width: auto;
}

table tr th {
	background: #255A7A;
    background: -moz-linear-gradient(#255A7A 0%, #347EAB 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #255A7A), color-stop(100%, #347EAB));
    background: -webkit-linear-gradient(#255A7A 0%, #347EAB 100%);
    background: linear-gradient(#255A7A 0%, #347EAB 100%);
    color:#fff;
}

table tr th:hover {
 color: white;
 cursor: pointer;
}

a {
    color: #337ab7;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
}

.table td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    color: #222;
    font-size: 12px;
}

.table td>a:hover {
 cursor: pointer;
}

.wait{
	 width: 225px;
 	 margin: 0 auto;
}

.iconorojo { 
  color: red; 
}

.formatoSubtitulos{
    color: #337ab7;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.formatoSubtitulos:hover{
    color: black;
}

.duplicarFormato{
  margin-top:2em;
}

.cabecera{
  background-color:#9C9E9F;
}

.testParsing{
  margin-top:43.5em;
}

.crear{
    color: black;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.crear:hover{
    color: #337ab7;
}
.form-controlCheck {
    display: block;
    width: 34px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}