<div class="container-fluid">
   <div class="row div-padding">
     <button ng-click="open()" class="btn btn-default "><i class="fa fa-plus"></i> Create New</button>
     <div class="alert alert-{{alert}}" ng-show="msjAlert">{{message}}</div>
   </div>
   <div class="row">
     <div class="input-group">
       <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search"></i></span>
       <input ng-model="searchText.NombreFormato" type="text" class="form-control" placeholder="Search" aria-describedby="basic-addon1">
     </div>
     {{afvstest}}
     <table ng-hide="preloader" class="table table-bordered table-hover table-striped" at-table at-paginated at-list="conversoDetalles | filter:searchText" at-config="configTable">
       <thead></thead>
       <tbody>
         <tr>
           <!--<td  at-sortable  at-title='ID FORMATO' width='150'>{{item.IdFormato}}</td>-->
           <td  at-sortable  at-title='NOMBRE FORMATO' width='150'>{{item.CampoEquivalente}}</td>
           <td  at-sortable  at-title='DESCRIPCION FORMATO' width='150'>{{item.CaracterConcatenacion}}</td>
           <td  at-sortable  at-title='CABECERA' width='150'>{{item.Cabecera}}</td>
           <td  at-sortable  at-title='PIE' width='150'>{{item.Default_Value}}</td>
           <td  at-sortable  at-title='SEPARADOR' width='150'>{{item.Separador}}</td>
           <td  at-sortable  at-title='FORMATO CONVERSION' width='150'>{{item.FormatoConversion}}</td>
           <td  at-sortable  at-title='FORMATO DESTINO' width='150'>{{item.Formato_destino}}</td>
           <td  at-sortable  at-title='TIPO PROCESO' width='150'>{{item.Tipo_Proceso}}</td>
           <td  at-sortable  at-title='NOMBRE OBJETO' width='150'>{{item.NombreObjeto}}</td>
           <td  at-sortable  at-title='ESTADO' width='150'>{{item.estado}}</td>
           <td  at-sortable  at-title='TIPO ARCHIVO SALIDA' width='150'>{{item.tipo_archivo_salida}}</td>
           <td  at-sortable  at-title='ORIENTACION' width='150'>{{item.ORIENTACION}}</td>
           <td  at-sortable  at-title='RUTINA PREVALIDACION' width='150'>{{item.RutinaPrevalidacion}}</td>
           <td  at-sortable  at-title='UNIFICADOR' width='150'>{{item.Unificador}}</td>
           <td  at-sortable  at-title='CHECK TOTALES POR' width='150'>{{item.Check_Totales_Por}}</td>
           <td  at-sortable  at-title='VALIDAIDENTIFICACION' width='150'>{{item.ValidaIdentificacion}}</td>
           <td  at-sortable  at-title='RUTINA PRECONVERSION' width='150'>{{item.RutinaPreconversion}}</td>
           <td  at-sortable  at-title='INFIERE TIPO ID CLIENTE' width='150'>{{item.InfiereTipoIdCliente}}</td>
           <td  at-sortable  at-title='MUESTRA CABECERA COLUMNA' width='150'>{{item.MuestraCabeceraColumna}}</td>
           <td  at-sortable  at-title='TIPO CONVERSION' width='150'>{{item.TipoConversion}}</td>
           
           <td  at-title="Acción" width="250"><button type="button" class="btn btn-default" ng-click="open(item)"><i class="fa fa-pencil-square-o"></i></button><button type="button" class="btn btn-default" ng-click="openDelete(item)"><i class="fa fa-trash-o"></i></button></td>
         </tr>
       </tbody>
     </table>
     <div class="col-md-6 col-md-offset-3" ><at-pagination ng-hide="preloader" at-list="conversorcabecerasList" at-config="configTable"></at-pagination></div>
     <div class="row col-lg-offset-6 col-md-offset-6 col-xs-offset-6" ng-hide="!preloader"><i class="fa fa-spinner fa-spin fa-5x position-spinner"></i></div>
   </div>
</div>