<h2>Duplicar Formato</h2>
<fieldset>  
       <div class="row">
         <div class="form-group col-md-12">
           <label for="pacientes" class="bold">Formatos</label>
           <ui-select  ng-model="item.formato" theme="bootstrap" ng-disabled="disabled" style="min-width: 300px;" title="Seleccione Formato a Duplicar">
             <ui-select-match placeholder="Seleccione Formato a Duplicar">{{$select.selected.NombreFormato}}</ui-select-match>
             <ui-select-choices repeat="item.IdFormato as item in conversorcabecerasList | propsFilter: {NombreFormato: $select.search}">
               <div ng-bind-html="item.NombreFormato | highlight: $select.search"></div>
             </ui-select-choices>
           </ui-select>
         </div>
       </div>
        <div class="row">
        	<div class="form-group col-md-12">
        		<label for="fecha" class="bold">Nombre Formato</label>
        		<input  autofocus   type="text" class="form-control"  ng-model="item.nombreFormato">
        	</div>
		</div>
		<div class="row">
        	<div class="form-group col-md-12">
        		<label for="fecha" class="bold">Descripción Formato</label>
        		<input  autofocus  type="text" class="form-control"  ng-model="item.descripcionFormato">
        	</div>
		</div>
       <div  class="row">
       		<button ng-disabled="item.formato == undefined || item.nombreFormato  == undefined || item.descripcionFormato  == undefined" class="btn btn-primary" ng-click="duplicarFormato()">Duplicar Formato</button>
       </div>

</fieldset>