<h2>Duplicar Formato</h2>
<fieldset>  
       <div class="row">
         <div class="form-group col-md-12">
           <label for="pacientes" class="bold">Formatos</label>
           <ui-select required ng-model="item.pacientes" theme="bootstrap" ng-disabled="disabled" style="min-width: 300px;" title="Selecciona un Formato">
             <ui-select-match placeholder="Selecciona un Formato">{{$select.selected.nombres}} {{$select.selected.edad}} </ui-select-match>
             <ui-select-choices repeat="item._id as item in pacientes | propsFilter: {nombres: $select.search,edad: $select.search,}">
               <div ng-bind-html="item.nombres | highlight: $select.search"></div>
               <div ng-bind-html="item.edad | highlight: $select.search"></div>
             </ui-select-choices>
           </ui-select>
         </div>
       </div>
</fieldset>