<style type="text/css">
	.red{
		color: red;
	}
	.red:hover {
		 cursor: pointer;
	}
</style>
<fieldset ng-show="mostrarPrimeraVista">
	   <div class="row" >
	       	<div class="form-group col-md-12">
		       	<label for="valorTipoProceso" class="bold">Nombre Formato</label>
		       	<input  ng-model="inputNombreFormato"  class="form-control" >
	       	</div>
       </div>
       <div class="row" >
	       	<div class="form-group col-md-12">
		       	<label for="valorTipoProceso" class="bold">Descripción Formato</label>
		       	<input  ng-model="inputDescripcionFormato"  class="form-control" >
	       	</div>
       </div>
       <div class="row" >
	       	<div class="form-group col-md-12">
		       	<label for="valorTipoProceso" class="bold">Tipo Proceso</label>
		       	<select  ng-model="valorTipoProceso" ng-change="cambiarTipoProceso()" ng-options="option.name for option in options"  class="form-control" >
        		</select>
	       	</div>
       	</div>
       	<div class="row" ng-show="showTramaJson">
	       	<div class="form-group col-md-12">
		       	<label for="tramaJson" class="bold" >Trama JSON</label>
		       	<textarea ng-model="tramaJson" class="form-control" rows="10" placeholder="Ingresa la Trama JSON" ></textarea>
	       	</div>
       	</div>
       	<!--<div class="row" ng-show="!showTramaJson">
	       	<div class="form-group col-md-12">
		       	<label for="tramaJson" class="bold" >Nodo Raíz XML</label>
		       	<input ng-model="nodoRaizXml" class="form-control" placeholder="Ingresa Nodo Raíz" >
	       	</div>
       	</div>-->
       	<div class="row">
	       	<div class="form-group col-md-12">
		       	<label for="tramaXml" class="bold">Trama XML</label>
		       	<!--<input ng-model="nodoRaizXml" placeholder="Nodo Raíz XML" class="form-control" ng-show="showTramaJson">-->
		       	<textarea  placeholder="Ingresa la Trama XML" ng-model="tramaXml" class="form-control" rows="10"></textarea>
	       	</div>
       	</div>
       	<div class="row">
	       	<div class="form-group col-md-12">
	       		<div class="alert alert-danger" ng-show="showMensajeError">{{mensajeError}}</div>
	       		<button ng-show="!showTramaJson" class="btn btn-primary btn-lg btn-block" ng-click="generarDirecto()" ng-disabled="tramaXml == undefined">Generar</button>
		       	<button ng-show="showTramaJson" class="btn btn-primary btn-lg btn-block" ng-click="showSegundaVista()" ng-disabled="tramaXml == undefined">Siguiente</button>
	       	</div>
       	</div>

</fieldset>
<fieldset ng-show="mostrarSegundaVista">
		<div class="row">
	       	<div class="form-group col-md-6">
		       	<label for="tramaXml" class="bold">Nodos JSON</label>
		       	<select size="10"  ng-model="nodoJson"  ng-options="option.name for option in nodosJson"  class="form-control" multiple >
        		</select>
	       	</div>
	       	<div class="form-group col-md-6">
		       	<label for="tramaXml" class="bold">Nodos XML</label>
		       	<select  size="10" ng-model="nodoXml"  ng-options="option.name for option in nodosXml"  class="form-control" multiple >
        		</select>
	       	</div>
	       	
       	</div>
       	<div class="row">
       		<div class="form-group col-md-8">
		       	<button class="btn btn-success " ng-click="concatenar()"><i class="fa fa-plus" aria-hidden="true"></i> Enlazar</button>
	       	</div>
       	</div>
       	<div class="row">
       		<div class="form-group col-md-12">
		       	<label for="tramaXml" class="bold">Resultado de Concatenación</label>
		       	<select  size="10" ng-model="nodoResultado" ng-click="eliminarElemento(nodoResultado)" ng-options="option.name for option in nodosResultados"  class="form-control" multiple >
        		</select>
	       	</div>
       	</div>
       	<div class="row">
	       	<div class="form-group col-md-12">
		       	<button class="btn btn-primary btn-lg btn-block" ng-click="generarFormato()" >Generar</button>
	       	</div>
       	</div>

</fieldset>


<vista ng-show="mostrarTerceraVista">
		<contenedorRespuesta ng-show="!showTramaJson">
			<fieldset>
				<div class="row">
		       		<div class="form-group col-md-12">
				       	<label for="tramaXml" class="bold">Nodos Trama XML</label>
				       	<select   size="15" ng-model="nodoResultadoTramaXml" ng-click="addTemporal(nodoResultadoTramaXml)" ng-options="option.name for option in nodosResultadoTramaXml"  class="form-control" multiple >
		        		</select>
			       	</div>
		       	</div>
		       	<div class="row">
		       		<div class="form-group col-md-12">
				       	<label for="tramaXml" class="bold">Variables Temporales</label>
				       	<select   size="15" ng-model="variableTemporal" ng-click="addTemporal(variableTemporal)" ng-options="option.name for option in variablesTemporales"  class="form-control" multiple >
		        		</select>
			       	</div>
		       	</div>
		       	<div class="row">
		       		<div class="form-group col-md-12">
				       	<label for="tramaXml" class="bold">
				       			<span ng-repeat="temp in arrayTemporales">&nbsp;&nbsp;{{temp.name}} <i ng-click="eliminarTemporal($index)" class="fa fa-times red" aria-hidden="true"></i></span>
				       	</label>
				       	<input ng-model="campoTemporal" class="form-control" placeholder="Campo Equivalente"  ng-change="validarBtnEnlazar()">
		        		
			       	</div>
		       	</div>
		       	<div class="row">
		       		<div class="form-group col-md-8">
				       	<button ng-disabled="enlazarTabla" class="btn btn-success " ng-click="enlazar()"><i class="fa fa-plus" aria-hidden="true"></i> Enlazar</button>
			       	</div>
		       	</div>
			</fieldset>
		    <table  class="table table-bordered table-hover table-striped" at-table at-paginated at-list="tablaEnlazada | filter:searchText" at-config="configTable">
		         <thead></thead>
		         <tbody>
		           <tr>
		             <!--<td  at-sortable  at-title='ID FORMATO' width='150'>{{item.IdFormato}}</td>-->
		             <td  at-sortable  at-title='Descripción Campo' width='150'>{{item.descripcionCampo}}</td>
		             <td  at-sortable  at-title='Campo Equivalente' width='150'>{{item.campoEquivalente}}</td>
		             <td  at-title="Acción" width="250">
		               <button title="Eliminar" type="button" class="btn btn-default" ng-click="eliminarTablatemporal($index)"><i class="fa fa-trash-o"></i></button>
		             </td>
		           </tr>
		         </tbody>
		    </table>
		    <div class="col-md-6 col-md-offset-3" ><at-pagination  at-list="conversorcabecerasList" at-config="configTable"></at-pagination></div>
		</contenedorRespuesta>
		
		<contenedor ng-show="showTramaJson">
			<div class="row">
	       		<div class="form-group col-md-8">
			       	<button class="btn btn-success " ng-click="refrescar()"><i class="fa fa-plus" aria-hidden="true"></i> Nuevo</button>
		       	</div>
	       	</div>
			<div id="scrollTabla">
			       <table id="scrollTabla" ng-hide="preloader" class="table table-bordered table-hover table-striped" at-table at-paginated at-list="conversorcabecerasList | filter:searchText" at-config="configTable">
			         <thead></thead>
			         <tbody>
			           <tr>
			             <!--<td  at-sortable  at-title='ID FORMATO' width='150'>{{item.IdFormato}}</td>-->
			             <td  at-sortable  at-title='Nombre Formato' width='150'><a ng-click="obtenerDetalles(item)">{{item.NombreFormato}}</a></td>
			             <td  at-sortable  at-title='Descripción Formato' width='150'>{{item.DescripcionFormato}}</td>
			             <td  at-sortable  at-title='Cabecera' width='150'>{{item.Cabecera}}</td>
			             <td  at-sortable  at-title='Pie' width='150'>{{item.Pie}}</td>
			             <td  at-sortable  at-title='Separador' width='150'>{{item.Separador}}</td>
			             <td  at-sortable  at-title='Formato Conversión' width='150'>{{item.FormatoConversion}}</td>
			             <td  at-sortable  at-title='Formato Destino' width='150'>{{item.Formato_destino}}</td>
			             <td  at-sortable  at-title='Tipo Proceso' width='150'>{{item.Tipo_Proceso}}</td>
			             <td  at-sortable  at-title='Nombre Objeto' width='150'>{{item.NombreObjeto}}</td>
			             <td  at-sortable  at-title='Estado' width='150'>{{item.estado}}</td>
			             <td  at-sortable  at-title='Tipo Archivo Salida' width='150'>{{item.tipo_archivo_salida}}</td>
			             <td  at-sortable  at-title='Orientación' width='150'>{{item.ORIENTACION}}</td>
			             <td  at-sortable  at-title='Rutina Prevalidación' width='150'>{{item.RutinaPrevalidacion}}</td>
			             <td  at-sortable  at-title='Unificador' width='150'>{{item.Unificador}}</td>
			             <td  at-sortable  at-title='Check Totales Por' width='150'>{{item.Check_Totales_Por}}</td>
			             <td  at-sortable  at-title='Valida Identificación' width='150'>{{item.ValidaIdentificacion}}</td>
			             <td  at-sortable  at-title='Rutina Preconversión' width='150'>{{item.RutinaPreconversion}}</td>
			             <td  at-sortable  at-title='Infiere Tipo Id Cliente' width='150'>{{item.InfiereTipoIdCliente}}</td>
			             <td  at-sortable  at-title='Muestra Cabecera Columna' width='150'>{{item.MuestraCabeceraColumna}}</td>
			             <td  at-sortable  at-title='Tipo Conversión' width='150'>{{item.TipoConversion}}</td>
			             
			             <td  at-title="Acción" width="250">
			               <button title="Editar" type="button" class="btn btn-default" ng-click="open(item)"><i class="fa fa-pencil-square-o"></i></button>
			               <button title="Eliminar" type="button" class="btn btn-default" ng-click="openDelete(item)"><i class="fa fa-trash-o"></i></button>
			               <button title="Plantilla" type="button" class="btn btn-default" ng-click="verPlantilla(item)"><i class="fa fa-search"></i></button>
			               <a title="Probar Formato" href="#/probarFormato/{{item.NombreFormato}}/{{item.IdFormato}}" class="btn btn-default" ><i class="fa fa-fire"></i></a>
			             </td>
			           </tr>
			         </tbody>
			       </table>
			       <div class="col-md-6 col-md-offset-3" ><at-pagination ng-hide="preloader" at-list="conversorcabecerasList" at-config="configTable"></at-pagination></div>
			       <div class="wait" ng-hide="!preloader"><i class="fa fa-spinner fa-spin fa-5x position-spinner"></i></div>
     		</div>	
     	</contenedor>	

</vista>
