<div class="modal-header">
   <div class="pull-right">
     <button type="button" class="close pull-right" ng-click="$dismiss()">&times;</button>
   </div>
<div>
   <h3 class="modal-title" ng-if="!item._id">Create</h3>
   <h3 class="modal-title" ng-if="item._id">Edit</h3>
</div>
</div>
<div>
<form name="myForm" ng-submit="save()" method="POST">
   <div class="modal-body">
     <fieldset>
       <!--<div class="row" ><div class="form-group col-md-12"><label for="IdFormato" class="bold">ID FORMATO</label><input autofocus  name="IdFormato" type="number" class="form-control"  ng-model="item.IdFormato" ></div></div>-->
       <div class="row" ><div class="form-group col-md-12"><label for="NombreFormato" class="bold">NOMBRE FORMATO</label><input  autofocus  required name="NombreFormato" type="text" class="form-control"  ng-model="item.NombreFormato" ></div></div>
       <div class="row" ><div class="form-group col-md-12"><label for="DescripcionFormato" class="bold">DESCRIPCION FORMATO</label><input  autofocus required  name="DescripcionFormato" type="text" class="form-control"  ng-model="item.DescripcionFormato" ></div></div>
       <div class="row" ><div class="form-group col-md-12"><label for="Cabecera" class="bold">CABECERA</label><input name="Cabecera" type="checkbox" class="form-control"  ng-model="item.Cabecera" ></div></div>
       <div class="row" ><div class="form-group col-md-12"><label for="Pie" class="bold">PIE</label><input  autofocus  name="Pie" type="text" class="form-control"  ng-model="item.Pie" ></div></div>
       <div class="row" ><div class="form-group col-md-12"><label for="Separador" class="bold">SEPARADOR</label><input  autofocus  name="Separador" type="text" class="form-control"  ng-model="item.Separador" ></div></div>
       <div class="row" ><div class="form-group col-md-12"><label for="FormatoConversion" class="bold">FORMATO CONVERSION</label><input  autofocus  name="FormatoConversion" type="number" class="form-control"  ng-model="item.FormatoConversion" ></div></div>
       <div class="row" ><div class="form-group col-md-12"><label for="Formato_destino" class="bold">FORMATO DESTINO</label><input  autofocus  name="Formato_destino" type="text" class="form-control"  ng-model="item.Formato_destino" ></div></div>
       <div class="row" ><div class="form-group col-md-12"><label for="Tipo_Proceso" class="bold">TIPO PROCESO</label><input  autofocus  name="Tipo_Proceso" type="text" class="form-control"  ng-model="item.Tipo_Proceso" ></div></div>
       <div class="row" ><div class="form-group col-md-12"><label for="NombreObjeto" class="bold">NOMBRE OBJETO</label><input  autofocus  name="NombreObjeto" type="text" class="form-control"  ng-model="item.NombreObjeto" ></div></div>
       <div class="row" ><div class="form-group col-md-12"><label for="estado" class="bold">ESTADO</label><input  autofocus  name="estado" type="text" class="form-control"  ng-model="item.estado" ></div></div>
       <div class="row" ><div class="form-group col-md-12"><label for="tipo_archivo_salida" class="bold">TIPO ARCHIVO SALIDA</label><input  autofocus  name="tipo_archivo_salida" type="text" class="form-control"  ng-model="item.tipo_archivo_salida" ></div></div>
       <div class="row" ><div class="form-group col-md-12"><label for="ORIENTACION" class="bold">ORIENTACION</label><input  autofocus  name="ORIENTACION" type="text" class="form-control"  ng-model="item.ORIENTACION" ></div></div>
       <div class="row" ><div class="form-group col-md-12"><label for="RutinaPrevalidacion" class="bold">RUTINA PREVALIDACION</label><input  autofocus  name="RutinaPrevalidacion" type="text" class="form-control"  ng-model="item.RutinaPrevalidacion" ></div></div>
       <div class="row" ><div class="form-group col-md-12"><label for="Unificador" class="bold">UNIFICADOR</label><input  autofocus  name="Unificador" type="text" class="form-control"  ng-model="item.Unificador" ></div></div>
       <div class="row" ><div class="form-group col-md-12"><label for="Check_Totales_Por" class="bold">CHECK TOTALES POR</label><input  autofocus  name="Check_Totales_Por" type="text" class="form-control"  ng-model="item.Check_Totales_Por" ></div></div>
       <div class="row" ><div class="form-group col-md-12"><label for="ValidaIdentificacion" class="bold">VALIDAIDENTIFICACION</label><input  autofocus  name="ValidaIdentificacion" type="text" class="form-control"  ng-model="item.ValidaIdentificacion" ></div></div>
       <div class="row" ><div class="form-group col-md-12"><label for="RutinaPreconversion" class="bold">RUTINA PRECONVERSION</label><input  autofocus  name="RutinaPreconversion" type="text" class="form-control"  ng-model="item.RutinaPreconversion" ></div></div>
       <div class="row" ><div class="form-group col-md-12"><label for="InfiereTipoIdCliente" class="bold">INFIERE TIPO ID CLIENTE</label><input  autofocus  name="InfiereTipoIdCliente" type="text" class="form-control"  ng-model="item.InfiereTipoIdCliente" ></div></div>
       <div class="row" ><div class="form-group col-md-12"><label for="MuestraCabeceraColumna" class="bold">MUESTRA CABECERA COLUMNA</label><input  autofocus  name="MuestraCabeceraColumna" type="text" class="form-control"  ng-model="item.MuestraCabeceraColumna" ></div></div>
       <div class="row" ><div class="form-group col-md-12"><label for="TipoConversion" class="bold">TIPO CONVERSION</label><input  autofocus  name="TipoConversion" type="text" class="form-control"  ng-model="item.TipoConversion" ></div></div>
       
     </fieldset>
</div>
<div class="modal-footer">
   <button ng-disabled="myForm.$invalid || myForm.$pristine"  class="btn btn-primary pull-right" type="submit" title="Save"><span ng-if="saving"><i class="fa fa-spinner fa fa-spin"></i>&nbsp;</span><span>Save</span></button>
</div>
</form>
</div>